@import "./colors.scss";
.modal_main_conainter {
  background-color: #282829;
  position: absolute;
  width: 50%;
  min-height: 90vh;
  max-height: 95vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 6px #000;
  color: $contrastText;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.modal_closetBtn {
  position: absolute;
  background-color: $main;
  // margin: 10px;
  border: none;
  border-radius: 3px;
  height: 35px;
  width: 35px;
  font-size: 20px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  transition: all 0.15s;
}
.modal_closetBtn:hover {
  background-color: $contrastText;
  color: $main;
  box-shadow: 2px 4px 8px #000;
}
.modal_infoContainer {
  width: 95%;
  max-height: 100%;
  overflow-y: auto;
  margin: 0 auto;
}

/* Estilo de la barra de desplazamiento */
.modal_infoContainer::-webkit-scrollbar {
  margin: 10px;
  width: 2px; /* Ancho de la barra de desplazamiento */
  height: 8px; /* Ancho de la barra de desplazamiento */
}

/* Estilo del pulgar (scrollbar thumb) */
.modal_infoContainer::-webkit-scrollbar-thumb {
  margin: 10px;
  background-color: #61918d; /* Color del pulgar */
  border-radius: 5px; /* Radio de borde del pulgar */
}

/* Estilo de la pista (scrollbar track) */
.modal_infoContainer::-webkit-scrollbar-track {
  background-color: #ffffff00; /* Color de la pista */
}

/* Estilo de la pista cuando se pasa el mouse por encima */
.modal_infoContainer::-webkit-scrollbar-track:hover {
  background-color: none;
}
